/* **** Discover More **** */
.discover-more {
    padding: 70px 0;
    background: var(--light-gray);
    overflow: hidden;
}
.discover-more_title {
    max-width: 100%;
    font-size: 3rem;
    line-height: 1.3;
    text-align: center;
}
.discover-more_title span {
    font-weight: 100;
}
.discover-more_img {
    transform: scale(1.4);
    margin: auto;
}