/* Single Product */
.single-product{
    /* padding: 50px 0; */
}
.single-product_banner ,
.single-product_header {
    width: calc(100%/3);
    max-height: 100px;
    margin: 0 0 80px 0;
    overflow: hidden;
}
.single-product_banner {
    padding: 0 20px;
    background-color: #dfd9d94f;
    background-color: #e5c30140;
}
.single-product_banner-img {
    max-width: 100px;
    /* margin: 0 10px; */
}
.single-product_banner-title {

}
.single-product_banner-price {
    
}
.single-product_header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-product_img {
    max-width: 75%;
}
.single-product_info {
    padding: 30px 30px;
}
.single-product_title {
    max-width: 80%;
    /* min-width: 49%; */
    margin: 10px 0 30px;
    font-size: 1.8rem;
    line-height: 1.3;    
}
.single-product_price {
    padding: 40px 0 0;
    font-size: 2rem;
    font-weight: 600;
}
.single-product_desc {
    margin-bottom: 30px;
    font-size: 1rem;
    line-height: 1.6;
}
.single-product_availability {
    margin: 40px 0;
    font-size: 1.4rem;
}
.single-product_quantity {

}
.single-product_quantity-text {
    margin-right: 15px;
    font-size: 1.2rem;
}
.single-product_action {

}
.single-product_btn-cart {
    position: relative;
    min-width: 180px;
    height: 45px;
}
.add-to-cart_icon{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.add-to-cart_icon img {
    transform: translate(0px, 50%);
}
.add-to-cart_text {
    padding: 0 40px 0 55px; 
}
.single-product_btn-heart {
    width: 45px;
    height: 45px;
    margin: 0 30px;
    border-radius: 50%;
    border: solid 1px #aaa;
    color: #222222;
    background: transparent;
}