/* ***** Medium Screen ***** */
@media only screen and (min-width: 768px) {
    /* **** Wo Framework **** */
    .wo_item-md-6 {
        width: calc(100%/2);
    }
    .wo_item-md-3 {
        width: calc(100%/4);
    }
    /* **** Main Header **** */
    
    .mobileList--active {
        top: 150px;
    }
    /* navbar search */
    .main-header_search {
        width: 100%;
        padding: 5px 5px 15px;
        order: 4;
    }
     /* **** Categores List **** */
    .main-header_categores {
        
    }
    .main-header_categores-list {
    }
    .main-header_categores .main-header_item ,
    .main-header_categores .main-header_link {
        padding: 10px;
        font-size: 16px;
    }
    /* **** Slider **** */
    .slider_title {
        max-width: 90%;
        font-size: 3rem;
        line-height: 1.4;
    }
    /* **** Delivery **** */
    .delivery_content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .delivery_title {
        max-width: 50%;
        text-align: left;
    }
    .delivery_img  {
        max-width: 40%;
    }
    .delivery_img img {
        max-width: 100%;
    }
    /* **** Buy and installments **** */
    .buy-installments_item {
        width: calc(100% /2);
    }
    /* **** Brands **** */
    .brand_item {
        width: calc(100% / 3);
    }
}